{{define "waiting"}}
<!DOCTYPE html>
<html lang="en">
{{template "header" . }}
<body>
{{template "navbar" . }}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Please Wait...</h1>
        <div class="row center">
            <h5 class="header col s12 light">We'll get moving shortly, unless you're here way early then I don't know
                what you want from me.</h5>
            <div>
                <img src="images/hot-dog-boi.gif"/>
            </div>
            <br><br>
        </div>
    </div>

    <div class="container">
        <div class="section">
        </div>
        <br><br>
    </div>

{{template "footer" . }}
{{template "jsimports" . }}

</body>
</html>
{{ end }}
